.forgot-password-container {
  min-height: 100vh;
  display: grid;
  place-items: center;
  background-color: #cccccc;
  background-image: url("../../../assets/login-bg.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.forgot-password-form {
  width: 50rem;
  min-height: 30rem;
  max-height: 92vh;
  height: auto;
  overflow-y: auto;
  border-radius: 23px;
}

.forgot-password-body {
  min-height: 27rem;
  height: auto;
}

.forgot-password-title {
  font-size: 2.5rem;
  display: block;
  font-weight: 600;
}

@media only screen and (max-width: 768px) {
  .forgot-password-form {
    width: 20rem;
  }

  .forgot-password-right-side {
    display: none;
  }

  .forgot-password-title {
    font-size: 1.5rem;
  }
}
